/*Importando Fuentes desde Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Nunito);

.GoogleFonts{
  font-family: 'Pacifico', cursive;
}
.Nunito{
  font-family: 'Nunito', sans-serif;
}

section{
  height: auto;
  padding-top: 65px;
}

footer{
  background-color: #3381BF;
  max-height: 200px;
  border-top: 4px solid #2D43D9;
}
.active{
  background-color: #345481;
}

header{
background-image: url('https://images.unsplash.com/photo-1429734160945-4f85244d6a5a?fit=crop&fm=jpg&h=700&q=80&w=1050');
min-height: 50vh;
background-size: cover;
background-position: center;
background-attachment:fixed;
}

#title
{
  color: #325075;
  font-size: 6em;
  text-align: center;
  padding-top: 10%;
}

#subtitle
{
  color: #345481;
  font-size: 3em;
  text-align: center;
  padding-top: 3%;
}
.hide{
  display:none;
}

#navi{
  padding-top:0;
}
